<!-- /*
COMP206 Assignment2 due by Dec.11, 2022
Author: Yanan Liu
This is index.ejs. It is a template that used to show the main page where users can set the criterias.
*/ -->
<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Yanan Liu</p>

  <div class="border p-5 bg-light col-6">
    <h1>One listing</h1>
    <form action="/airbnb/find-one">
      <label for="bedrooms">Minimum number of bedrooms</label>
      <input type="text" id="bedrooms" name="bedrooms" value="1"><br><br>
      <label for="guests">Maximum number of guests</label>
      <input type="text" id="guests" name="guests" value="1"><br><br>
      <label for="price">Maximum price per night</label>
      <input type="text" id="price" name="price" value="0"><br><br>
      <h2>Amenities</h2>
      <input type="checkbox" name="amenities[]" id="wifi" value="49fcaedc-481a-4e05-934f-4867988c8ec5">
      <label for="wifi">Wireless Internet</label><br>
      <input type="checkbox" name="amenities[]" id="pool" value="f4e98f0a-053a-42e2-9633-0cca2a587410">
      <label for="pool">Pool</label><br>
      <input type="checkbox" name="amenities[]" id="breakfast" value="9c54e3ed-48b3-4438-bb2c-304e14a9bde4">
      <label for="breakfast">Breakfast</label><br>
      <input type="checkbox" name="amenities[]" id="TV" value="49fcaedc-481a-4e05-934f-4867988c8ec5">
      <label for="TV">TV</label><br>
      <input type="checkbox" name="amenities[]" id="Gym" value="49fcaedc-481a-4e05-934f-4867988c8ec5">
      <label for="Gym">Gym</label><br>

      <br><br>
      <input type="submit" value="Send Query">
    </form>
  </div>

  <div class="border p-5 mt-5 bg-light col-6">
    <h1>Many listings</h1>
    <form action="/airbnb/find-many">
      <label for="bedrooms">Minimum number of bedrooms</label>
      <input type="text" id="bedrooms" name="bedrooms">
      <input type="submit" value="Send Query">
      <p> </p>
      <p>
        <!-- get the states result and put in the dropdown list -->
        <select id="states" name="states">
          <option value=""> -- Select a state -- </option>
          <% for (let i=0; i < stateResult.length; i++) {%>
            <option value=<%=stateResult[i].id%>>
              <%=stateResult[i].name %>
            </option>;
            <%}%>
        </select>
      </p>
      <p>
        <select id="cities" name="cities">
         </select>
      </p>
      
<script type="text/javascript">

//this is a function to produce the dropdown list
  function cityListItems(cities) 
{
   let cityDropdownHTML = "<option value=''> -- Select a city -- </option>";
    for (let i = 0; i < cities.length; i++) {
        cityDropdownHTML +=
        `<option value="${cities[i].id}">${cities[i].name}</option>`;}
  return cityDropdownHTML;
}

    let statesList = document.querySelector("#states");
//put the cityResult to a new object
    let parsedCityResult= JSON.parse('<%-JSON.stringify(cityResult)%>');
    let citiesList = document.querySelector("#cities");
    let cityDropdownHTML = cityListItems(parsedCityResult);
    citiesList.innerHTML= cityDropdownHTML;
//add eventlistener to change the city list based on selected state
        statesList.addEventListener("change", event => {
          let selectedStateIndex = statesList.selectedIndex;
          let currentState = statesList[statesList.selectedIndex];
          let currentStateId = currentState.value;
          //use the filter function to filter the result instead of using a loop
          let selectedCityList = parsedCityResult.filter(x => x.state_id === currentStateId);
          let cityDropdownHTML = cityListItems(selectedCityList);
          citiesList.innerHTML= cityDropdownHTML;
      });
</script>
</form>
</div>
</body>
</html>