<!-- /*
COMP206 Assignment2 due by Dec.11, 2022
Author: Yanan Liu
This is listings.ejs. It is a template that used to show all the places' brief information after users select the specific state and city.
*/ -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found listings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
    <body class="ms-5 mt-2">
        <form action="/">
            <button type = "submit"> Home </button>
            <!-- check if there is result return, list all the result or show "no listing" -->
       <% if (listings != 0) { %> 
       
            <% for(let i =0; i < listings.length; i++) {%>
                <div class="border p-5 mt-5 bg-light col-6">
        <h2> <a href="/selectPlace/<%=listings[i].id%>">  <%=listings[i].name%> </a></h2>
        <p><%= listings[i].cityName %>, <%= listings[i].stateName %></p>
        <p> <%= listings[i].max_guest %> Guest(s),  <%= listings[i].number_bathrooms %> baths @ $<%= listings[i].price_by_night %> CAD / night</p> 
    </div> 
        <%}%> 
        
           <% }else {%>
            <div class="border p-5 mt-5 bg-light col-6">
                <h3> No listings were found that match your criteria. </h3></div> <%}%>
  </form>
</body>
</html>